/* src/app/app.component.css */
.profile {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
}
form label {
  margin-top: 10px;
}
form input {
  margin-bottom: 10px;
}
